{% extends 'store/main.html'%} {% load static %} {% block content %}
<h3>Suchergebnis Ausgabe - Suchbegriff : <b>"{{ query }}"</b></h3>

{% for product in products %}

<div class="card" style="width: 18rem">
  <a href="../product/{{product.pk}}"
    ><img class="card-img-top" src="{{product.imageURL}}"
  /></a>
  <div class="card-body">
    <h4 class="card-text">{{product.name}}</h4>
    <p class="card-text">${{product.price}}</p>
  </div>
</div>

{% empty %}
<h4>Keine Ergebnisse</h4>
{% endfor %} {% endblock content %}
