{% extends 'store/main.html'%}
{% load static %}
{% block content %}
<div class="row">
	<div class ="col-lig-12">
        <div class= "box">
            <a class="btn btn-outline-secondary" href="{% url 'store' %}">🔙Weitereinkaufen</a>

        <table class="table">
            <tr>
                <th><h5>Produkt: <strong>{{order.get_cart_items}}</strong></h5></th>
				<th><h5>Preis:<strong> ${{order.get_cart_total|floatformat:2}}</strong></h5></th>
                <th><a style="float:right; margain:7px" class="btn btn-success" href="{% url 'checkout' %}">Bezahlung</a></th>

            </tr>
        </table>
        </div>
    </div>

    <br>

    <div class ="col-lig-12">
        <div class= "box">
            <div class="cart_line">
                <div style="flex:2"></div>
                <div style="flex:2"><strong>Produkt</strong></div>
                <div style="flex:1"><strong>Preis</strong></div>
                <div style="flex:1"><strong>Anzahl</strong></div>
                <div style="flex:1"><strong>Summe</strong></div>

            </div>
            {% for item in items %}
            <div class="cart_line">
                <div style="flex:2"><img class="cart_img" src="{{item.product.imageURL}}"></div>
                <div style="flex:2"><strong>{{item.product.name}}</strong></div>
                <div style="flex:1"><strong>${{item.product.price|floatformat:2}}</strong></div>
                <div style="flex:1"><strong>{{item.quantity}}</strong>
                    <div class="amount">
                        <img data-product={{item.product.id}} data-action="add"  class="amount_btn cart-update" src="{% static 'images/upload.png' %}">
                        <img data-product={{item.product.id}} data-action="remove"  class="amount_btn cart-update" src="{% static 'images/down.png' %}">
                    </div>

                </div>
                <div style="flex:1"><strong>${{item.get_total}}</strong></div>

            </div>
            {% endfor %}
    </div>
</div>

</div>{% endblock content %}